-let links = [{name: "Textos", page: "#categories"}, {name: "Sobre Nosotros", page: "#about_us"}, {name: "Contacto", page: "#contact"}];
-let categories = [{name: "Filosofía", img: "kierkegaard.jpg"}, {name: "Psicología", img: "freud.jpg"}, {name: "Arte", img: "velasquez.jpg"},{name: "Historia", img: "stalin.jpg"}, {name: "Poesía", img: "borges.jpg"}, {name: "Ciencia", img: "sagan.jpg"}]