extends ./components/template.pug
block content 
    include ./components/header.pug
    section.presentation#presentation
        h2.presentation__title Soñador
        p.presentation__text La recopilación más amplia de textos traducidos al español. En Soñador encontrarás todo tipo de literatura para enriquecer el alma, adentrarse a lo más profundo de la mente humana o deleitarse con la mejor poesía, todo en español. Explora el sitio y encuentra los textos que más se adapten a tí.
    section.categories#categories 
        h2.categories__title Categorias 
        .categories__container 
            each categorie in categories
                a(href="#" class="categorie")
                    img(src="../assets/imgs/"+ categorie.img , alt=categorie.img, class="categorie__img")
                    h3.categorie__title= categorie.name
    section.quote#quote
        p.quote__text "El poeta encenderá la hoguera donde se queme este mundo sombrío"
        p.quote__author Manuel Scorza
    section.about#about
            h2.about__tittle ¿Qué es Soñador?
            img(src="../assets/imgs/borges.jpg", class="about__img")
            p.about__text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus quasi, ducimus fuga nulla sapiente excepturi illo odit ea consectetur inventore consequatur quis, eligendi accusantium cumque! Cum doloribus impedit numquam ex optio, quisquam iusto nemo eaque tempora alias repellendus laudantium quas hic autem non unde. Voluptatum iure incidunt, voluptate ex omnis veritatis obcaecati adipisci, dolore aut recusandae facilis quos pariatur provident eos tempore! Neque velit deleniti maiores dicta id, voluptatibus, quis dignissimos cum praesentium necessitatibus cupiditate ut quod, quae totam fugiat cumque quo ipsa! Aliquam enim harum esse obcaecati nostrum ex exercitationem aspernatur nisi consequatur voluptatem. Maxime nesciunt numquam eos quos?
            
        

